<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>Rwt: first tests</title>

<!-- Ext lib -->
<link rel="stylesheet" type="text/css" href="/ext/resources/css/ext-all.css" />
<script type="text/javascript" src="/ext/adapter/ext/ext-base.js"></script>
<script type="text/javascript" src="/ext/ext-all.js"></script>

<!-- Entry point to your Rwt application -->
<script src="/rwt_test/index.js" type="text/javascript"></script>

</head>
<body>

<!-- Place to put the toolbar (optional) -->
<div id="tb-div"></div>

<div id="readme" style="padding:100px">
This page is the entry point of your Rwt test application.<br><br>
In this example application we create a toolbar with menus to some tests. Take a look at the controller (file 
'app/controllers/rwt_test_controller.rb' and at the Rwt view at 
'app/views/rwt_test/index.rb').<br><br>
Rwt is meant to be simple like that!
</div>
</body>
</html>
